body {
    background-color: #195752;
}

.estatisticas {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
}

.estatistica_texto{
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-items: center;
    width: 100%;
}

.estatistica_texto_titulo{
    width: 20%;
}

.estatistica_texto_paragrafo{
    width: 70%;
    padding-right: 10%;
}