.conteudo {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.conteudo_construcoes {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
    background-color: yellow;
}

.conteudo_objPrincipal {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
}

.conteudo_melhorias {
    display: flex;
    width: 20%;
    justify-content: flex-end;
    flex-direction: column;
    background-color: chocolate;
}

.conteudo_construcoes_elementos {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
    background-color: springgreen;
}

.conteudo_construcoes_titulo {
    display: flex;
    align-items: center;
    width: 100%;
}

.conteudo_melhorias_titulo {
    display: flex;
    align-items: center;
    width: 100%;
}

.conteudo_construcoes_titulo_imagem {
    width: 20%;
    background-color: crimson;
}

.conteudo_construcoes_titulo_texto {
    width: 80%;
    background-color: darkorchid;
}

.conteudo_construcoes_titulo_imagem_imagem {
    width: 100%;
}

.conteudo_construcoes_elementos_elemento {
    display: flex;
    align-items: center;
    gap: 5%;
}

.conteudo_construcoes_elementos_elemento_imagem {
    width: 20%;
}

.imagem {
    width: 100%;
}