* {
    box-sizing: border-box;
}

body {
    background-color: #195752;
}

.conteudo {
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.conteudo_entidades {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: left;
    flex-direction: column;
}

.conteudo_objPrincipal {
    display: flex;
    width: 60%;
    height: 60%;
    flex-direction: column;
    align-items: center;
    /*position: fixed;*/
}

.conteudo_artefatos {
    width: 20%;
    height: 100%;
}

.conteudo_entidades_elementos {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1%;
}

.conteudo_artefatos_elementos {
    display: flex;
    justify-content: right;
    flex-direction: column;
    gap: 1%;
}

.conteudo_titulos {
    display: flex;
    align-items: center;
    width: 100%;
}

.conteudo_entidades_titulo_imagem {
    width: 60%;
}

.conteudo_moeda_titulo_imagem {
    width: 40%;
    border-radius: 100%;
}

.conteudo_titulos_artefatos_imagem {
    width: 60%;
    padding-left: 20%;
}

.conteudo_entidades_titulo_texto {
    width: 60%;
}

.conteudo_titulos_artefatos_texto {
    width: 40%;
    text-align: right;
}

.conteudo_entidades_titulo_imagem_imagem {
    width: 100%;
}

.conteudo_entidades_elementos_elemento1 {
    display: flex;
    align-items: center;
    gap: 5%;
}

.conteudo_entidades_elementos_elemento {
    display: flex;
    align-items: center;
    gap: 5%;
    visibility: hidden;
}

.conteudo_entidades_elementos_elemento_texto {
    width: 32%;
    text-align: center;
}

.conteudo_entidades_elementos_elemento_botao {
    display: flex;
    width: 100%;
    align-items: center;
}

.conteudo_entidades_elementos_elemento_botao_dir {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: right;
}

.conteudo_artefatos_elementos_elemento1 {
    display: flex;
    align-items: center;
    justify-content: right;
}

.conteudo_artefatos_elementos_elemento {
    display: flex;
    align-items: center;
    justify-content: right;
    visibility: hidden;
}

.conteudo_entidades_elementos_elemento_imagem {
    width: 35%;
    height: 100%;
}

.imagem {
    width: 100%;
    height: 100%;
}

.botao {
    height: 30px;
    border: none;
    color: white;
    background-color: #0e302d;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.botaoTexto {
    padding: 0;
    padding-right: 5%;
    margin: 0;
}

.botaoDir {
    height: 30px;
    border: none;
    color: white;
    background-color: #0e302d;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.imagem_moeda {
    width: 100%;
    height: auto;
    border-radius: 100%;
}

@media (max-width: 1150px) {
    .conteudo {
        display: grid;
        grid-template-areas:
            "conteudo_objPrincipal"
            " conteudo_entidades"
            "conteudo_artefatos";
        width: 100%;
        height: auto;

    }

    .conteudo_entidades {
        grid-area: conteudo_entidades;
        order: 2;
        width: 100%;
        height: auto;
    }

    .conteudo_objPrincipal {
        grid-area: conteudo_objPrincipal;
        order: 1;
        width: 100%;
        height: auto;
    }

    .conteudo_artefatos {
        grid-area: conteudo_artefatos;
        order: 3;
        width: 100%;
        height: auto;
    }

    .conteudo_entidades_elementos_elemento1 {
        display: flex;
        align-items: center;
        gap: 5%;
        justify-content: center;
    }

    .conteudo_artefatos_elementos_elemento1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .conteudo_titulos_artefatos_texto {
        width: 40%;
        text-align: left;
        padding-left: 20px;
    }

    .conteudo_entidades_elementos_elemento_botao_dir {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: left;
    }

    .conteudo_titulos_artefatos_imagem {
        width: 60%;
        padding-left: 5%;
    }

    .conteudo_entidades_elementos_elemento_texto {
        width: 32%;
        text-align: left;
    }

    .conteudo_titulos {
        display: flex;
        align-items: center;
        width: 100%;
        padding-left: 15%;
        padding-top: 2%;
    }

    .conteudo_entidades_elementos_elemento_imagem {
        width: 30%;
        height: 100%;
    }

    .conteudo_artefatos_elementos_elemento {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .conteudo_entidades_elementos_elemento {
        display: flex;
        align-items: center;
        gap: 5%;
        justify-content: center;
    }
}